<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Premium calculator</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <mat-card>
    <mat-tab-group>
      <mat-tab label="Gold">
          <app-prime-form [price]="prices?.ask?.gold" [label]="'gold'"></app-prime-form>
      </mat-tab>
      <mat-tab label="Silver">
        <app-prime-form [price]="prices?.ask?.silver" [label]="'silver'"></app-prime-form>
      </mat-tab>
    </mat-tab-group>
    <div class="info once">
      1 once = 31.1034768 g
    </div>
  </mat-card>
</div>
<div class="footer">
  Built with <span class="heart">❤</span> by the <a href="">Oivier Leplus</a>
</div>