<form novalidate [formGroup]="form">
  <mat-form-field>
    <input type="text" matInput placeholder="Coin" formControlName="type" required [matAutocomplete]="autoGroup">
    <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="selectedCoinChanged($event)"
      [displayWith]="displayFn">
      <mat-option value="Custom Coin">
        Custom coin
      </mat-option>
      <mat-optgroup *ngFor="let group of coinGroupOptions |async" [label]="group.name">
        <mat-option *ngFor="let coin of group.coins" [value]="coin">
          {{coin.name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>



  <!-- <mat-form-field>
    <mat-label>Choose your coin</mat-label>
    <mat-select formControlName="type" (selectionChange)="selectedCoinChanged($event)">
      <mat-option value="custom">
        Custom coin
      </mat-option>
      <mat-optgroup *ngFor="let group of coinGroups" [label]="group.name">
        <mat-option *ngFor="let coin of group.coins" [value]="coin">
          {{coin.name}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Coin Price (€)</mat-label>
    <input matInput class="text-align-right" type="number" placeholder="0" formControlName="coinPrice">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Coin weight (g)</mat-label>
    <input matInput class="text-align-right" type="number" placeholder="0" formControlName="coinWeight"
      (change)="customCoinChanged($event)" step="0.01" min="0">

  </mat-form-field>
  <mat-form-field>
    <mat-label>Purity (‰)</mat-label>
    <input matInput class="text-align-right" type="number" placeholder="0" formControlName="coinPurity"
      (change)="customCoinChanged($event)" min="0">
  </mat-form-field>

  <mat-form-field>
    <mat-label><span class="label">{{label}}</span> spot Price (€)</mat-label>
    <input matInput class="text-align-right" type="number" placeholder="0" formControlName="spotPrice">
  </mat-form-field>
  <div class="actions">
    <button color="primary" mat-raised-button type="submit" (click)="calculate()" [disabled]="shouldDisableButton()">
      Calculate
    </button>
  </div>
</form>
<div>
  <div class="infos">
    <div class="info">
      <label><span class="label">{{label}}</span>&nbsp; weight</label>
      <div class="value">{{form?.value?.coinWeight / 1000 * form?.value?.coinPurity | number:'1.0-7'}} g</div>
    </div>
  </div>
  <div class="results">
    <div class="info">
      <label>@ Spot price</label>
      <div class="value">
        {{results.atSpotPrice | number:'1.0-1'}} €</div>
    </div>
    <div class="info">
      <label>Premium</label>
      <div class="value">
        <div>
          {{results.premiumPercent | number:'1.0-2'}} %
        </div>
        <div>
          {{results.premium | number:'1.0-2'}} €
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="actions">
    <button color="primary" mat-raised-button (click)="compare()" [disabled]="shouldDisableButton()">
      Compare
    </button>
  </div> -->
  <!-- <div class="pictures">
    <div class="picture">
      <img src="assets/coins/{{label}}/{{form?.value?.type?.id}}-front.jpg" alt="" />
    </div>
    <div class="picture">
      <img src="assets/coins/{{label}}/{{form?.value?.type?.id}}-back.jpg" alt="" />
    </div>
  </div> -->
</div>